run = "npm run dev"
entrypoint = "index.js"
hidden = [".config", "pnpm-lock.json", ".next"]
modules = ["nodejs-22"]

[nix]
channel = "stable-24_11"

[deployment]
build = ["npm", "run", "build"]
run = ["sh", "-c", "PORT=3000 npm run start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
